body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(195, 0, 255);
  color: white;
}

input {
  width: 3em;
  margin: 0em 1em 0em 0.5em;
}

#error {
  font-weight: bold;
  margin: 0.5em;
}

table {
  border: thin solid gray;
  border-collapse: collapse;
  margin: 1em;
}

th, td {
  border: thin solid gray;
  padding: 0.25em;
  text-align: center;
}