
header {
    margin: 10px;
    padding: 10px;
    background-color: rgb(136, 27, 0);
    color: white;
    width: 100%;
    text-align: center;
}
header > img {
    width: 20%;
    height: auto;
}
.center-image {
    display: block;
    margin: 0 auto; 
    width: 60%; 
    height: auto;
}
.menu-bar {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-bar li {
    font-size: 30px;
    display: inline;
    margin-right: 20px;
}

.menu-bar a {
    text-decoration: solid;
    color: white;
}

.menu-bar a:hover {
    text-decoration: underline;
}
.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
#content-container {
    text-align: center;
}